{% extends '::base.html.twig' %}

{% block body %}
    <body class="bg-primary">
    <header>
        <div class="jumbotron">
            <div class="container">
                <h1>Nagłówek</h1>
            </div>
        </div>
    </header>
        <div class="container bg-primary">
        {% if person is defined %}
            {{ person.name }} is {{ person.age }} like {{ person.favFootballTeam }}
        {% endif %}
        </div>
</body>	
</html>
{% endblock %}

